.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #b6d2f8;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #4671e9 ;
}

.jumbotron-text {
    color: floralwhite ;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #172fb4;
}

.handwriting{
    font-family: Parisienne, Helvetica
}

.image-smaller {
width: 200px;
}

.image-border {
border-style: solid;
border-color: floralwhite;
border-radius: 40%;
}

.handwriting{
    font-family: Parisienne, Helvetica
}

.image-border {
border-style: solid;
border-radius: 40%;
}

.card-header {
    color: black;
    background-color:transparent
}

.tab-content {
    padding: 10px;
}